customer support.json
{
  "name": "customer support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -496,
        -80
      ],
      "id": "b3e73151-047e-4446-bd15-a04a8411f803",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "bBYgnGvwGitWxhWf",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support ",
              "description": "A customer inquiry regarding organizational policies or guidelines."
            },
            {
              "category": "other ",
              "description": "any email thats not related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -288,
        -80
      ],
      "id": "0d54b828-f9a2-41df-bfaf-bf91c76e1c75",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -384,
        128
      ],
      "id": "5c397ab0-33f9-44db-86cc-f9ac1662717c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        144
      ],
      "id": "53163756-6a36-4760-ab0e-29534c02458b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "You are a professional Customer Support Representative.\n\nYour task is to generate a clear, accurate, and professional response to a customer's policy-related question.\n\nInstructions:\n\n* Read the customer's policy question provided in the input.\n* Answer only using the company's official policies or the policy information provided in the context.\n* If the answer cannot be determined from the available policy information, politely state that you are unable to confirm the information and advise the customer to contact the support team for further assistance.\n* Maintain a friendly, empathetic, and professional tone.\n* Keep the response concise (100–200 words).\n* Do not make up or assume any policy details.\n* Do not include internal notes, reasoning, or references to the prompt.\n* Address the customer's question directly and provide any relevant next steps if applicable.\n\nGenerate only the customer-facing response.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -112
      ],
      "id": "eb2100d6-c7a7-48d7-a939-9ec16da8bc3f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        96,
        96
      ],
      "id": "ce8f63f8-d602-4aa1-bab2-3a5523ba3bb2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access policy and faq database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n2",
          "mode": "list",
          "cachedResultName": "n8n2"
        },
        "options": {
          "pineconeNamespace": "faq2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        48
      ],
      "id": "17a21ba8-02f9-4492-97c4-93fa9a07b56a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AvpieVoU9on20E4K",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "606810eb-364d-4b4b-bcdf-81010fa56e5e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        -176
      ],
      "id": "d08ed82b-e95f-41f6-ae87-27f0857873b3",
      "name": "Reply to a message",
      "webhookId": "e75c60dd-b8ec-459d-afe5-38c8eb703102",
      "credentials": {
        "gmailOAuth2": {
          "id": "bBYgnGvwGitWxhWf",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22c6e2a3-78a8-4ad0-aad1-a1aa5d943289",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e46b6f9edef07eceb1f843a13465d8b163862c289383aee4590274c6319a5991"
  },
  "nodeGroups": [],
  "id": "eEZRpFw0jMY3rqWR",
  "tags": []
}