invoice processing.json
{
  "name": "invoice processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Mgj5lgyDIcezqVgtaFJn9rzXLjIMMcOa",
          "mode": "list",
          "cachedResultName": "projects",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Mgj5lgyDIcezqVgtaFJn9rzXLjIMMcOa"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -16
      ],
      "id": "68fdf06e-d2bd-4db3-b037-58791ad7d49b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cpIRvwFB7WymE4X8",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        -16
      ],
      "id": "f682f0a6-4a98-4dca-85de-fe4a3934db3c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cpIRvwFB7WymE4X8",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice number",
              "description": "it will show number of invoice",
              "required": true
            },
            {
              "name": "client name ",
              "description": "it will show name of client",
              "required": true
            },
            {
              "name": "client address ",
              "description": "it will show address of client",
              "required": true
            },
            {
              "name": "total amount",
              "description": "it will show total amount of invoice",
              "required": true
            },
            {
              "name": "invoice date ",
              "description": "it will have date of invoice",
              "required": true
            },
            {
              "name": "invoice due date ",
              "description": "it will show due date of invoice",
              "required": true
            },
            {
              "name": " client email",
              "description": "it will have the email of client",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -48,
        -16
      ],
      "id": "ae87c955-10ff-4937-83c3-e5fcd2ea7243",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -48,
        160
      ],
      "id": "d1493ac4-40fe-4718-8266-f9e1e8d3d5f2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Se0w9jivt3oTCLwwGqmmg40MHn9xOKqiRVoESscGp5g",
          "mode": "list",
          "cachedResultName": "invoice processing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Se0w9jivt3oTCLwwGqmmg40MHn9xOKqiRVoESscGp5g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Se0w9jivt3oTCLwwGqmmg40MHn9xOKqiRVoESscGp5g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice number": "={{ $json.output['invoice number'] }}",
            "client name ": "={{ $json.output['client name '] }}",
            "client address ": "={{ $json.output['client address '] }}",
            "total amount": "={{ $json.output['total amount'] }}",
            "invoice date ": "={{ $json.output['invoice date '] }}",
            "invoice due date ": "={{ $json.output['invoice due date '] }}",
            " client email": "={{ $json.output[' client email'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice number",
              "displayName": "invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client name ",
              "displayName": "client name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client address ",
              "displayName": "client address ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total amount",
              "displayName": "total amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice date ",
              "displayName": "invoice date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice due date ",
              "displayName": "invoice due date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " client email",
              "displayName": " client email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -16
      ],
      "id": "49ad08eb-913a-4e9d-b095-87f017dae536",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M5n8Is9mepjAmex8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=invoice number: {{ $json['invoice number'] }}\nclient name: {{ $json['client name '] }}\ninvoice date: {{ $json['invoice date '] }}\ninvoice due date:{{ $json['invoice due date '] }}\ntotal amount:{{ $json['total amount'] }}"
            },
            {
              "content": "You are an email expert. Your task is to write a polite, professional, and concise email notifying the internal billing team that an invoice was received or sent.\nReturn ONLY a valid JSON object.\n\nDo not write any introductory text.\nDo not use markdown.\nDo not use ```json.\n\nThe response must be exactly in this format:\n\n{\n  \"subject\": \"Email subject here\",\n  \"body\": \"Complete email body here\"\n}\n\n\n",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        416,
        -16
      ],
      "id": "9555093d-1fe2-46cc-a96c-e50408f44661",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "accounts@abcdigital.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        -16
      ],
      "id": "0639cbad-edc3-4773-ae7d-d11f4bf9ef70",
      "name": "Send a message",
      "webhookId": "ca221b84-11a6-4c2f-9c28-c1e5c8c16103",
      "credentials": {
        "gmailOAuth2": {
          "id": "bBYgnGvwGitWxhWf",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        -16
      ],
      "id": "5ec7d8c6-3ecb-44b6-bad9-db5186269dca",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst result = JSON.parse($input.first().json.content.parts[0].text);\n\nreturn [\n  {\n    json: {\n      subject: result.subject,\n      body: result.body\n    }\n  }\n];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -16
      ],
      "id": "4dd8281b-be6f-4106-bc7b-db01c7eb64b2",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af341746-6037-48ec-b449-bbc42421cdb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e46b6f9edef07eceb1f843a13465d8b163862c289383aee4590274c6319a5991"
  },
  "nodeGroups": [],
  "id": "DSiKuNnAr8dOHBzy",
  "tags": []
}