linkedin posts.json
{
  "name": "linkedin posts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        112
      ],
      "id": "e3bcbd32-ebde-410f-850e-2a4524030d1e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vRURpyV9Trp8s0_inLdm0w3_Vs67QB5V9ybNbJAbqnA",
          "mode": "list",
          "cachedResultName": "linkedin posts ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRURpyV9Trp8s0_inLdm0w3_Vs67QB5V9ybNbJAbqnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRURpyV9Trp8s0_inLdm0w3_Vs67QB5V9ybNbJAbqnA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "to Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        112
      ],
      "id": "fe2d4857-2408-4266-9602-3c1074f66cfb",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M5n8Is9mepjAmex8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \" search on this topic {{ $json.Topic }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"exact_match\": false,\n  \"include_usage\": false,\n  \"safe_search\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        112
      ],
      "id": "e368f218-41d7-4951-9e3c-9c69749c2476",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article:1{{ $json.results[0].content }}\nArticle:2{{ $json.results[1].content }}\nArticle:3{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "You are an expert LinkedIn Content Writer with experience creating engaging, professional, and thought-provoking posts.\n\nYour task is to read the provided article and create a concise LinkedIn post that captures the key insights while maintaining a professional tone.\n\nInstructions:\n- Carefully analyze the article and identify the main message and key takeaways.\n- Write a LinkedIn post between 100 and 200 words.\n- Begin with a strong hook that grabs the reader's attention.\n- Summarize the most valuable insights without copying large portions of the article.\n- Use a professional, conversational, and engaging writing style.\n- Include relevant emojis naturally throughout the post (e.g., 🚀 💡 📈 🤝 🌍 ✅ 🎯), but do not overuse them.\n- Break the content into short paragraphs for better readability.\n- End with a thought-provoking question or a call-to-action that encourages engagement.\n- Include 3–5 relevant hashtags at the end.\n- Do not invent facts or add information that is not present in the article.\n- Do not mention that the content was generated by AI.\n- Do not use excessive marketing language or clickbait.\n- Ensure the final output is polished, grammatically correct, and ready to post on LinkedIn.\n\nGenerate only the LinkedIn post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        112
      ],
      "id": "2cdb48af-61c7-47aa-a42d-d25b56afc69c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        160,
        320
      ],
      "id": "6dacd692-4901-4947-8fd0-2a21ddffe3c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vRURpyV9Trp8s0_inLdm0w3_Vs67QB5V9ybNbJAbqnA",
          "mode": "list",
          "cachedResultName": "linkedin posts ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRURpyV9Trp8s0_inLdm0w3_Vs67QB5V9ybNbJAbqnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRURpyV9Trp8s0_inLdm0w3_Vs67QB5V9ybNbJAbqnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "=created",
            "content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        112
      ],
      "id": "4f081f60-b967-47bc-a20b-8285d898d802",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M5n8Is9mepjAmex8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "888098d8-a8cf-4eeb-aa8a-00aac8a44d4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e46b6f9edef07eceb1f843a13465d8b163862c289383aee4590274c6319a5991"
  },
  "nodeGroups": [],
  "id": "JqJHDRBdPBWh7fr1",
  "tags": []
}