website statuscheck.json
{
  "name": "website statuscheck",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        112
      ],
      "id": "ae2caa9e-6c92-4dba-b0c9-a8ef242b5407",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "36c4a131-0320-4728-9004-c33f58557b27",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        112
      ],
      "id": "b6fcd47f-cfa7-4c8c-b961-ba0d826f32f5",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "site status",
        "message": "={{ $json.content.parts[2].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        0
      ],
      "id": "6f2334ca-a360-4302-8132-1268f8aa3912",
      "name": "Create a draft",
      "webhookId": "ccbb8846-372a-40a7-8eb0-8da799af8acf",
      "credentials": {
        "gmailOAuth2": {
          "id": "bBYgnGvwGitWxhWf",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        240
      ],
      "id": "d221b378-1d4e-4fda-9259-f340c6a941fc",
      "name": "Create a draft1",
      "webhookId": "e0df98b6-645d-4015-98f5-c0001ee6087a",
      "credentials": {
        "gmailOAuth2": {
          "id": "bBYgnGvwGitWxhWf",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7330de78-fb31-4489-8e99-1b007210ec9f",
              "name": "status ",
              "value": "website up",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        16
      ],
      "id": "782825ea-e171-49b1-9083-dcfc278822a4",
      "name": "true case"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "386a23c3-38ea-4c4f-ad8f-ca7b3b296309",
              "name": "status ",
              "value": "website down",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        208
      ],
      "id": "bd7db879-977f-4596-9104-9a34f5afbbe1",
      "name": "false case"
    },
    {
      "parameters": {
        "url": "https://cheezious.com/?gad_source=1&gad_campaignid=23360830252&gbraid=0AAAAAoOFVAoheoYqcdNqIfEu8-TJNu6ZW&gclid=CjwKCAjw0o3SBhBVEiwAh28-jaQS-1JQSezXKdO1nrTf4XBlCt9_CfjFhHGFUhOxHNd56z8XXDRa4BoCozgQAvD_BwE",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        112
      ],
      "id": "2df25bc1-c625-4349-a5cd-18a2b6980b53",
      "name": "Get URL"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-3.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=you are an ai assistant and u will write a draft message in a professional manner according to this status:\n {{ $json['status '] }}\ndont write the subject in draft message ",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        640,
        16
      ],
      "id": "425d2584-2902-4e2e-a9ab-49c49941dc24",
      "name": "Writing a draft",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=you are an ai assistant and u will write a draft message in a professional manner according to the status of website \nwhether the status is up or down\ndont write the subject in draft message ",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        640,
        208
      ],
      "id": "e371436c-f238-47e3-a242-e5c2a4ad7307",
      "name": "Writing a draft1",
      "credentials": {
        "googlePalmApi": {
          "id": "pimKBMtjiFzQQua0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "true case",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "false case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true case": {
      "main": [
        [
          {
            "node": "Writing a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "false case": {
      "main": [
        [
          {
            "node": "Writing a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing a draft": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing a draft1": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6f71cc10-ae84-4d61-afab-19f896d0ea34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e46b6f9edef07eceb1f843a13465d8b163862c289383aee4590274c6319a5991"
  },
  "nodeGroups": [],
  "id": "BrbLytourmzd6AmZ",
  "tags": []
}